= form_tag action_url, :method => :get do
  = label_tag 'query', :for => 'query'
  = text_field_tag 'query', :class => 'main', :id => 'query', :placeholder => 'Keywerd here'
  .hpot
    = label_tag 'Please leave this field blank', :for => 'hpot', :class => 'hpot'
    = text_field_tag 'hpot', :id => 'hpot', :placeholder => 'Please leave this blank', :class => 'hpot'
  = button_tag 'Submit', :type => 'submit'
